<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Ventas</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-nav">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand" href="#">
                <img src="https://images.rappi.com.mx/restaurants_logo/logo-1697308077363.png" alt="Logo" width="50">
            </a>

            <!-- Botón colapsable (para móviles) -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Contenido del navbar -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Título centrado -->
                <div class="w-100 d-flex justify-content-center">
                    <h3 class="m-0">Sistema de Ventas</h3>
                </div>
                <!-- Usuario y logout -->
                <div class="d-flex align-items-center">
                    <p class="texto-usuario">USUARIO: <span class="usuario-nombre"></span></p>
                    <img src="https://cdn.icon-icons.com/icons2/2248/PNG/512/logout_variant_icon_136438.png"
                        width="50px">
                </div>
            </div>
        </div>
    </nav>

    <div class="row m-3">
        <div class="col-lg-4">
            <div class="row btn-superior">
                <div class="col-lg-4">
                    <a href="/principal">
                        <button class="back-button" aria-label="Volver"><img class="flecha-izq"
                                src="/images/flechaizq.png" alt=""></button>
                    </a>
                </div>
                <div class="col-lg-8 titulo-btn-superior">
                    <p>Reporte de ventas</p>
                </div>
            </div>
        </div>
    </div>

    <main class="bg-secundario text-dark p-4" style="width: 80%; margin: auto;">
        <section class="row w-100">
            <h3 class="col-6">Desea iniciar o cerrar jornada?</h3>

            <div class="row col-6">
                <div class="col-4">
                    <input class="btn btn-dark w-100" type="button" value="Inciar" id="iniciarJornada">
                </div>
                <div class="col-4">
                    <input class="btn btn-dark w-100" type="button" value="Cerrar" id="cerrarJornada">
                </div>
                <div class="col-4">
                    <input class="form-control w-100" type="text" value="Fecha: 11/25/2024" id="fechaHoy" onlyread>
                </div>
            </div>

        </section>

        <section class="mt-4 bg-light p-4 rounded" style="width: 80%;">

            <div class="mb-4 input-group">
                <label class="fw-bold bg-dark text-white input-group-text py-2 mb-0">Efectivo esperado en la
                    caja</label>
                <input type="number" class="form-control text-end py-2" id="efectivoCaja" value="0">
            </div>

            <div class="mb-4 input-group">
                <label class="fw-bold bg-nav text-white input-group-text py-2 mb-0">Ingreso</label>
                <input type="number" class="form-control text-end py-2" id="ingreso" value="0">
            </div>

            <div class="mb-4 input-group">
                <label class="fw-bold bg-dark text-white input-group-text py-2 mb-0">Diferencia</label>
                <input type="text" class="form-control text-end py-2" id="diferencia" value="0" readonly>
            </div>

            <div class="d-flex justify-content-between">
                <button class="btn bg-nav fw-bold">VER HISTORIAL DE CORTES DE CAJA</button>
            </div>
        </section>
    </main>

    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/header.js"></script>
    <script src="/javascripts/capturarCorteCaja.js"></script>

</body>

</html>