<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>

    <header>
        <div class="row justify-content-center bg-nav">
            <div class="col-lg-3 centrar"><a href="index.html"> <img class="logo" src="img/logo.png " alt=""></a></div>
            <div class="col-lg-6 centrar">
                <p class="titulo">SISTEMA DE VENTAS</p>
            </div>
            <div class="row col-lg-3 centrar">
                <div class="col-lg-8">
                    <p class="texto-usuario">USUARIO: UsuarioX</p>
                </div>
                <div class="col-lg-4">
                    <a href="index.html"><img class="logout" src="img/logout.png" alt=""></a>
                </div>
            </div>
        </div>
    </header>


    <div class="container-fluid vh-100">
        <main>

            <div class="row">
                <div class="col-lg-4">
                    <div class="row btn-superior">
                        <div class="col-lg-4">
                            <a href="principal.html">
                                <button class="back-button" aria-label="Volver"><img class="flecha-izq"
                                        src="img/flechaizq.png" alt=""></button>
                            </a>
                        </div>
                        <div class="col-lg-8 titulo-btn-superior">
                            <p>Politicas de la empresa</p>
                        </div>
                    </div>
                </div>

            </div>



            <div class="container mt-5 contenido-politica">
                <h2 class="text-center mb-4">Nuestra Misión</h2>
                <p class="text-center">
                    Brindar a nuestros clientes una experiencia memorable a través de pizzas deliciosas, preparadas con
                    ingredientes de la más alta calidad, y un servicio excepcional que asegure su satisfacción en cada
                    visita.
                </p>

                <h2 class="text-center mt-5 mb-4">Nuestros Valores</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Calidad:</b> Utilizamos ingredientes frescos y de primera categoría
                        para garantizar el mejor sabor.</li>
                    <li class="list-group-item"><b>Servicio:</b> Ofrecemos un trato amable y rápido, asegurando la
                        satisfacción del cliente.</li>
                    <li class="list-group-item"><b>Integridad:</b> Actuamos con honestidad, con precios justos y
                        prácticas éticas.</li>
                    <li class="list-group-item"><b>Innovación:</b> Innovamos continuamente en nuestros menús y procesos
                        para sorprender a nuestros clientes.</li>
                    <li class="list-group-item"><b>Sostenibilidad:</b> Nos comprometemos con prácticas ecológicas, desde
                        el embalaje hasta la reducción de desperdicios.</li>
                </ul>

                <h2 class="text-center mt-5 mb-4">Código de Conducta</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Respeto:</b> Tratar con consideración a clientes, compañeros y
                        proveedores.</li>
                    <li class="list-group-item"><b>Puntualidad:</b> Cumplir con los horarios establecidos.</li>
                    <li class="list-group-item"><b>Seguridad:</b> Usar y mantener adecuadamente el equipo de trabajo.
                    </li>
                    <li class="list-group-item"><b>Trabajo en equipo:</b> Fomentar la cooperación y el apoyo mutuo entre
                        compañeros.</li>
                    <li class="list-group-item"><b>Responsabilidad:</b> Asumir las consecuencias de nuestras acciones.
                    </li>
                    <li class="list-group-item"><b>Higiene:</b> Mantener altos estándares de seguridad alimentaria y de
                        higiene personal.</li>
                    <li class="list-group-item"><b>Orden:</b> Mantener el área de trabajo limpia y segura.</li>
                    <li class="list-group-item"><b>Seguridad laboral:</b> Informar cualquier incidente o condición
                        insegura.</li>
                </ul>
            </div>
    </div>



    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/main.js"></script>
</body>

</html>