<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="row justify-content-center bg-nav">
            <div class="col-lg-3 centrar"><a href="/principal"> <img class="logo" src="/images/logo.png " alt=""></a></div>
            <div class="col-lg-6 centrar">
                <p class="titulo">SISTEMA DE VENTAS</p>
            </div>
            <div class="row col-lg-3 centrar">
                <div class="col-lg-8">
                    <p class="texto-usuario">USUARIO: <span class="usuario-nombre"></span></p>
                </div>
                <div class="col-lg-4">
                    <a href="/principal"><img class="logout" src="/images/logout.png" alt=""></a>
                </div>
            </div>
        </div>
    </header>



    <main>


        <div class="contenedor-cuad">
            <div class="row justify-content-between ">
                <div class="col-lg-4 col-md-6 col-sm-12 cuadros admin-element">
                    <a href="/historialventa">
                        <p class="texto-cuadro">Historial de ventas</p>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 cuadros admin-element">
                    <a href="/detalleventa">
                        <p class="texto-cuadro">Ver detalle de una venta</p>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 cuadros">
                    <a href="/iniciarventa">
                        <p class="texto-cuadro">Iniciar venta</p>
                    </a>
                </div>


                <div class="col-lg-4 col-md-6 col-sm-12 cuadros-2 admin-element">
                    <a href="/usuarios">
                        <p class="texto-cuadro">Lista de usuarios</p>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 cuadros-2 admin-element">
                    <a href="/productos">
                        <p class="texto-cuadro">Lista de productos</p>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 cuadros-2 admin-element">
                    <a href="/categorias">
                        <p class="texto-cuadro">Categoria de productos</p>
                    </a>
                </div>


                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="col-12 cuadros-xs">
                        <a href="/politicas">
                            <p class="texto-cuadro-xs">Politicas de la empresa</p>
                        </a>
                    </div>
                    <div class="col-12 cuadros-xs">
                        <a href="/quiensomos">
                            <p class="texto-cuadro-xs">Quienes somos</p>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 cuadros-2 admin-element">
                    <a href="/reporteventas">
                        <p class="texto-cuadro">Reporte de ventas</p>
                    </a>
                </div>
                

                <div class="col-lg-4 col-md-6 col-sm-12 cuadros">
                    <a href="/cortecaja">
                        <p class="texto-cuadro">Iniciar/cerrar jornada</p>
                    </a>
                </div>

        </div>
        </div>


    </main>




   






    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/header.js"></script>
    <script src="/javascripts/principal.js"></script>
</body>

</html>