<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="row justify-content-center bg-nav">
            <div class="col-lg-3 centrar"><a href="index.html"> <img class="logo" src="img/logo.png " alt=""></a></div>
            <div class="col-lg-6 centrar">
                <p class="titulo">SISTEMA DE VENTAS</p>
            </div>
            <div class="row col-lg-3 centrar">
                <div class="col-lg-8">
                    <p class="texto-usuario">USUARIO: UsuarioX</p>
                </div>
                <div class="col-lg-4">
                    <a href="index.html"><img class="logout" src="img/logout.png" alt=""></a>
                </div>
            </div>
        </div>
    </header>




    <main>



        <div class="row">
            <div class="col-lg-4">
                <div class="row btn-superior">
                    <div class="col-lg-4">
                        <a href="principal.html">
                            <button class="back-button" aria-label="Volver"><img class="flecha-izq"
                                    src="img/flechaizq.png" alt=""></button>
                        </a>
                    </div>
                    <div class="col-lg-8 titulo-btn-superior">
                        <p>Quienes somos</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p class="titulo-nosot">Nuestros inicios</p>
                </div>
                <div class="col-lg-6 col-md-12 col-12"><img class="nosotros-img" src="img/nosotros.jpg" alt=""></div>
                <div class="col-lg-12 col-md-12 col-12">
                    <p class="texto-nosotros">La visión siempre fue tener mas de una sucursal por eso siempre se
                        esforzaron
                        por buscar calidad y por lo que al lograr obtener todos los estándares de calidad que buscaban
                        se
                        inaugura la primera sucursal el 24 de octubre del 2014, recibiendo una gran afluencia de
                        comensales
                        y con un equipo de trabajo conformado por amigos y familiares quienes se aseguraron de que el
                        trato
                        fuera cálido y personalizado lo cual al día de hoy se tiene en todas las sucursales.Desde un
                        inicio
                        Víctor decide tener un comisariato para la producción de masa para 2 negocios con la finalidad
                        de
                        reducir costos y eliminar duplicidad operativa para así crear la base para un modelo de negocio
                        que
                        fuera fácil de escalar de forma profesional, homologada y controlada bajo el modelo de
                        franquicia.
                    </p>
                </div>
            </div>
        </div>


    </main>




    <footer>TODO</footer>






    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/main.js"></script>
</body>

</html>