<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="row justify-content-center bg-nav">
            <div class="col-lg-3 centrar"><a href="/principal"> <img class="logo" src="/images/logo.png " alt=""></a>
            </div>
            <div class="col-lg-6 centrar">
                <p class="titulo">SISTEMA DE VENTAS</p>
            </div>
            <div class="row col-lg-3 centrar">
                <div class="col-lg-8">
                    <p class="texto-usuario">USUARIO: <span class="usuario-nombre"></span></p>
                </div>
                <div class="col-lg-4">
                    <a href="/principal"><img class="logout" src="/images/logout.png" alt=""></a>
                </div>
            </div>
        </div>
    </header>


    <div class="container-fluid vh-100">


        <main>
            <div class="row">
                <div class="col-lg-4">
                    <div class="row btn-superior">
                        <div class="col-lg-4">
                            <a href="/principal">
                                <button class="back-button" aria-label="Volver"><img class="flecha-izq"
                                        src="/images/flechaizq.png" alt=""></button>
                            </a>
                        </div>
                        <div class="col-lg-8 titulo-btn-superior">
                            <p>Lista de usuarios</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="contenido-detalle-usuarios">



                <div class="row">
                    <div class="col-lg-4 row bloque-datos-usuarios">


                        <!-- Boton eliminar -->
                        <div class="col-lg-12 centrar align-self-center">
                            <div class="">
                                <a href="" class="fs-2 text-white" href="/registro">Crear cuenta</a>
                            </div>

                            <button class="btn-crud btn-crud-colors-3">
                                <div class="row">
                                    <div class="col-lg-1">
                                        <img class="icon-btns-crud" src="/images/ICON-TRASH-BLACK.png" alt="">
                                    </div>
                                    <div class="col-lg-11">
                                        <p class="texto-btn-crud-dentro">ELIMINAR</p>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>


                    <div class="col-lg-8">
                        <div class="row contenedor-datos-venta">
                            <div class="col-lg-4">
                                <p class="titulo-lista-usuarios">LISTA DE USUARIOS</p>
                            </div>
                            <div class="col-lg-8 row">
                                <div class="col-lg-4">
                                    <p class="texto-buscar-historial">Buscar por:</p>
                                </div>
                                <div class="col-lg-3">
                                    <input class="input-texto-historial-busqueda" type="text">
                                </div>
                                <div class="col-lg-3">
                                    <input class="input-texto-historial-busqueda" type="text">
                                </div>
                                <div class="col-lg-1">
                                    <button class="texto-informacion-venta"><img class="icon-lupa"
                                            src="/images/ICON-SEARCH.png" alt=""></button>
                                </div>
                                <div class="col-lg-1">
                                    <button class="texto-informacion-venta"><img class="icon-lupa"
                                            src="/images/ICON-CLEAN.png" alt=""></button>
                                </div>
                            </div>

                        </div>


                        <div class="row contenedor-datos-venta">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="tabla-columna-principal" width="20px">Seleccionar</th>
                                        <th class="tabla-columna-principal">NOMBRE</th>
                                        <th class="tabla-columna-principal">ROL</th>
                                        <th class="tabla-columna-principal">ESTADO</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">

                                </tbody>
                            </table>

                        </div>
                    </div>


                </div>


            </div>




        </main>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/crudUsuarios.js"></script>
    <script src="/javascripts/header.js"></script>
</body>

</html>